<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li><a href="board"><h4>Back to board</h4></a></li>
</ul>
<ul>
    <li>Member1</li>
    <li>Member2</li>
    <li>Member3</li>
</ul>
</body>
</html>