<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li><a href="board"><h4>Create new board</h4></a></li>
</ul>
<ul>
    <li><a href="myBoards"><h4>My boards</h4></a></li>
</ul>
<div class="container">
    <div class="quote-box">
        <p id="quote">"Press the button to generate the code"</p>
        <small id="author">Author</small>
    </div>
    <button id="btn">New Quote</button>
</div>
<script>
    const quote = document.querySelector("#quote")
    const author = document.querySelector("#author")
    const btn = document.querySelector("#btn")
    btn.addEventListener("click", getQuote);
    function getQuote() {
        fetch('https://quotable.io/random')
            .then(res => res.json())
            .then(data => {
                quote.innerHTML = `"${data.content}"`;
                author.innerHTML = data.author;
            })
    }
</script>
</body>
</html>


